{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    Logs
{% endblock %}

{% block error %}
    {{ numberOfLogs }}
{% endblock %}

{% block main %}

    <div id="alpdeskcorelogs_backendcontainer">

        {% for key,value in logs %}

            <div class="alpdeskcorelogfile">

                <a href="{{ route }}?deleteLog={{ value.logfile }}" title="Delete"
                   onclick="if(!confirm('{{ confirm }}'))return false;"
                   class="alpdeskcorelogsdelete">
                    <img src="system/themes/flexible/icons/delete.svg" alt="" width="16" height="16">
                </a>

                <span class="logVisible">
                    <img src="system/themes/flexible/icons/visible.svg" alt="" width="16" height="16">
                </span>

                {{ value.logfile }}

                <div class="alpdeskcorelogitemcontainer">
                    {% for keycontent,valuecontent in value.content %}
                        <div class="alpdeskcorelogitem">
                            <p>{{ valuecontent }}</p>
                        </div>
                    {% endfor %}
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}