{% extends "@Contao/be_main" %}

{% block main_content %}

    <div id="alpdeskcorelogs_backendcontainer">

        <div id="alpdeskcorelogs_filter">

            <form method="post">

                <input type="hidden" name="REQUEST_TOKEN" value="{{ token }}">
                <input type="hidden" name="setFilter" value="1">

                <input type="text" class="text" name="filterValue" value="{{ filterValue }}" placeholder="filter...">
                &nbsp;&nbsp;
                <button title="" id="fullsize" class="tl_submit">
                    <img width="15" src="/system/themes/flexible/icons/filter-apply.svg">
                </button>

            </form>

        </div>

        <div id="alpdeskcorelogs_logInfo">{{ numberOfLogs }}</div>

        {% for key,value in logs %}

            <div class="alpdeskcorelogfile" data-controller="alpdeskcorelogs"
                 data-alpdeskcorelogs-token-value="{{ token }}"
                 data-alpdeskcorelogs-filename-value="{{ value.logfile }}"
                 data-alpdeskcorelogs-filter-value="{{ filterValue }}"
                 data-alpdeskcorelogs-confirm-value="{{ confirm }}"
                 data-alpdeskcorelogs-deleteurl-value="{{ route }}?deleteLog={{ value.logfile }}">

                <span class="alpdeskcorelogsdelete" data-action="click->alpdeskcorelogs#delete">
                     <img src="/system/themes/flexible/icons/delete.svg" alt="" width="16" height="16">
                </span>

                <span class="logVisible" data-action="click->alpdeskcorelogs#show">
                    <img src="/system/themes/flexible/icons/visible.svg" alt="" width="16" height="16">
                </span>

                {{ value.logfile }}

                <div class="alpdeskcorelogitemcontainer" data-alpdeskcorelogs-target="logoutput"></div>

            </div>

        {% endfor %}

    </div>

{% endblock %}