{% extends "@Contao/be_main" %}

{% block main_content %}

    <div id="alpdeskcorelogs_backendcontainer">

        <div id="alpdeskcorelogs_filter">

            <form method="post">

                <input type="hidden" name="REQUEST_TOKEN" value="{{ token }}">
                <input type="hidden" name="setFilter" value="1">

                <input type="text" class="text" name="filterValue" value="{{ filterValue }}" placeholder="filter...">
                &nbsp;&nbsp;
                <button title="" id="fullsize" class="tl_submit">
                    <img width="15" src="/system/themes/flexible/icons/filter-apply.svg">
                </button>

            </form>

        </div>

        <div id="alpdeskcorelogs_logInfo">{{ numberOfLogs }}</div>

        {% for key,value in logs %}

            <div class="alpdeskcorelogfile" data-token="{{ token }}" data-filename="{{ value.logfile }}"
                 data-filtervalue="{{ filterValue }}" data-confirm="{{ confirm }}"
                 data-deleteurl="{{ route }}?deleteLog={{ value.logfile }}" data-controller="AlpdeskLogsController">

                <span class="alpdeskcorelogsdelete" data-action="click->AlpdeskLogsController#delete">
                     <img src="/system/themes/flexible/icons/delete.svg" alt="" width="16" height="16">
                </span>

                <span class="logVisible" data-action="click->AlpdeskLogsController#show">
                    <img src="/system/themes/flexible/icons/visible.svg" alt="" width="16" height="16">
                </span>

                {{ value.logfile }}

                <div class="alpdeskcorelogitemcontainer" data-AlpdeskLogsController-target="logoutput"></div>

            </div>

        {% endfor %}

    </div>

{% endblock %}