{% extends "@Contao/be_main" %}

{% block main_content %}

    <div id="alpdeskcorelogs_backendcontainer">

        <div id="alpdeskcorelogs_filter">

            <form method="post">

                <input type="hidden" name="REQUEST_TOKEN" value="{{ token }}">
                <input type="hidden" name="setFilter" value="1">

                <input type="text" class="text" name="filterValue" value="{{ filterValue }}" placeholder="filter...">
                &nbsp;&nbsp;
                <button title="" id="fullsize" class="tl_submit">
                    <img width="15" src="/system/themes/flexible/icons/filter-apply.svg">
                </button>

            </form>

        </div>

        <div id="alpdeskcorelogs_logInfo">{{ numberOfLogs }}</div>

        {% for key,value in logs %}

            <div class="alpdeskcorelogfile">

                <a href="{{ route }}?deleteLog={{ value.logfile }}" title="Delete"
                   onclick="if(!confirm('{{ confirm }}'))return false;"
                   class="alpdeskcorelogsdelete">
                    <img src="/system/themes/flexible/icons/delete.svg" alt="" width="16" height="16">
                </a>

                <span class="logVisible">
                    <img src="/system/themes/flexible/icons/visible.svg" alt="" width="16" height="16">
                </span>

                {{ value.logfile }}

                <div class="alpdeskcorelogitemcontainer">
                    {% for keycontent,valuecontent in value.content %}
                        <div class="alpdeskcorelogitem">
                            <p>{{ valuecontent | raw }}</p>
                        </div>
                    {% endfor %}
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}